<div class="container">
	<h1>Authors</h1>

	<form class="form-search">
    <div class="input-append">
        <input ng-model='query' class="span2 search-query">
        <button type="submit" class="btn">Search</button>
    </div>
</form>

	<ul>
		<li ng-repeat="author in authors | filter:query"><a ui-sref="authorShow({id: author.id})">{{author.name}}</a></li>
	</ul>

</div>
