<div class="container">
	<h1>Bookshelf</h1>

	<form class="form-search">
    <div class="input-append">
        <input ng-model='query' class="span2 search-query">
        <button type="submit" class="btn">Search</button>
    </div>
</form>
<!-- <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" checked autocomplete="off" ng-click="book.vote.user_I = {genre:'action'}"> Action
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off" ng-click="genre = {genre:'fantasy'}"> Fantasy
  </label>
	<label class="btn btn-primary">
		<input type="checkbox" autocomplete="off" ng-click="genre = undefined"> All
	</label>

</div> -->
	<ul>
		<li ng-repeat="book in books | orderBy:'-votes.length' | filter:query"><a ui-sref="show({id: book.id})">{{book.title}}</a>votes: {{book.votes.length}}</li>
	</ul>
			<a ui-sref="new">new</a>
</div>
