<div class="container">
	<h1>Genres</h1>

	<form class="form-search">
    <div class="input-append">
        <input ng-model='query' class="span2 search-query">
        <button type="submit" class="btn">Search</button>
    </div>
</form>

	<ul>
		<li ng-repeat="genre in genres | filter:query"><a ui-sref="genreShow({id: genre.id})">{{genre.name}}</a></li>
	</ul>

</div>
